/** CSS STYLE **/
.hello {
  display: block;

  color: #fff;
}

@font-face {
  font-weight: bold;
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-Bold.ttf');
}

@font-face {
  font-weight: normal;
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Neucha';
  src: url('../assets/fonts/Neucha-Regular.ttf');
}

:root {
  --color-white: #fff;
  --color-white-opacity: #d7ccc0;
  --color-light: #f5f4f0;
  --color-main: #fe8a02;
  --color-main-dark: #42413c;
  --color-dark: #2a2626;
  --color-dark-opacity: #908d8b;
  --color-brown: #b09a81;
  --color-blue: #1085c5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.6em;
  color: #2A2626;
  font-family: 'Open Sans', sans-serif;
}

.accent {
  color: var(--color-main);
}

h1,
h2,
h3 {
  line-height: 1.2em;
  font-family: 'Neucha', sans-serif;
}

h1 {
  font-size: 72px;
  font-weight: 400;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.btn {
  display: flex;
  padding: 12px 24px;
  font-weight: bold;
  color: var(--color-white);
  background-color: var(--color-main);
  width: 148px;
  height: 49px;
  text-decoration: none;
  text-transform: uppercase;
  align-items: center;
}

.section__btn {
  margin-top: 40px;
  margin-left: calc(50% + 15px);
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}

.main {
  position: relative;
  background-color: var(--color-light);
  
}

.main::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;

  background-image: url('../images/background.png');

  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
}

.section__title {
  margin-bottom: 195px;
}

.section__image {
  position: absolute;
  height: 525px;
  top: 55px;
  right: -270px;
}

.section__text {
  padding-top: 10px;
}

.container__main {
  display: flex;
  flex-direction: column;
}

.section__main {
  column-count: 2;
  column-gap: 30px;
}